<h1><%= @user.fullname %>'s Photos</h1>

Profile Picture
<%= image_tag(@user.pic, width: 100) %>

<% @user.pictures.each do |p| %>
        <%= image_tag(p.url, width: 100) %>
<% end %>

<%= link_to "Back", user_wall_path(@user) %>
