// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
  margin-top: 50px;
}

.container {
  max-width: 960px;
  margin: auto;
}

.friendsleft { 
    /*display: inline-block; */
    float: left;
    width: 30%; 
    }

.wallright { 
    /*display: inline-block; */
    float: left;
    width: 60%; 
    }

.statusbox {
	width: 320px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
}

.commentbox {
	width: 300px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
}

.statusinput {
	width: 300px;
	height: 75px;
}

.commentinput {
	width: 270px;
}